<div class="row">

</div>
<div class="row">
  <div class="row">
    <div class="col-auto">
      <select class="form-select">
        <option selected disabled>MODEL</option>
        <option *ngFor="let furniture of furnitureDtos let i = index" (click)="selectionChange(i);">
          {{furniture?.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-5">
    <div class="row">
      <table id="elements" class="table-bordered" *ngIf="selectedFurnitureId != ''">
        <tr>
          <th>Materiał</th>
          <th>Długość</th>
          <th>Wysokość</th>
          <th>Grubość</th>
          <th>Suffix</th>
          <th>Opis</th>
          <th>Akcja</th>
        </tr>
        <ng-container *ngIf="furniture && furniture.elements.size > 0">
          <tr *ngFor="let element of furniture.elements; let i = index">
            <td>{{element?.materialName}}</td>
            <td>{{element?.length}}</td>
            <td>{{element?.height}}</td>
            <td>{{element?.suffix}}</td>
            <td>{{element?.thickness}}</td>
            <td>{{element?.suffix}}</td>
            <td>{{element?.description}}</td>
            <td></td>
          </tr>
        </ng-container>
      </table>
      <pre>{{furniture | json}}</pre>
    </div>
  </div>


</div>
