<div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col-auto">
        <table class="table-bordered">
          <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Akcja</th>
          </tr>
          <tr *ngFor="let furnitureDto of furnitureNameAndDescriptionDtos; let i = index">
            <td>{{furnitureDto?.name}}</td>
            <td>{{furnitureDto?.description}}</td>
            <td>
              <button class="btn-danger" (click)="removeFurniture(i)">X</button>
            </td>
          </tr>
          <tr>
            <td><input type="text" id="furniture-name" name="furniture-name"
                       [(ngModel)]="createFurnitureRequest.name"></td>
            <td><input type="text" id="furniture-description" name="furniture-description"
                       [(ngModel)]="createFurnitureRequest.description">
            </td>
            <td>
              <button class="btn-outline-primary, btn-success"
                      (click)="createFurniture()"> Dodaj
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
