<div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col-auto">
        <table class="table-bordered">
          <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Akcja</th>
          </tr>
          <tr *ngFor="let furnitureDto of furnitureNameAndDescriptionDtos">
            <td>{{furnitureDto?.name}}</td>
            <td>{{furnitureDto?.description}}</td>
            <td>
              <button class="btn-danger" (click)="removeFurniture(furnitureDto.id)">X</button>
            </td>
          </tr>
          <tr>
            <td><input type="text" id="furniture-name" name="furniture-name" #furnitureNameInput></td>
            <td><input type="text" id="furniture-description" name="furniture-description" #furnitureDescriptionInput>
            </td>
            <td>
              <button class="btn-outline-primary, btn-success"
                      (click)="createFurniture(furnitureNameInput.value, furnitureDescriptionInput.value);
        furnitureNameInput.value = '';
        furnitureDescriptionInput.value = ''"> Dodaj
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
