body{
    background-color: #313131;
    color: whitesmoke;
}

.app-content {
    margin: 20px;
    border: 1px solid;
}

.nav-content {
    margin: 20px;
    border: 1px solid;
}

    .nav-btn {
      padding: 10px;
        margin: 10px;
    }

.header-content {
    margin: 20px;
    border: 1px solid;
}

.footer-content {
    margin: 20px;
    border: 1px solid;
    font-size: 12px;
}

.content-content {
    margin: 20px;
    border: 1px solid;
}
