body {
    background-color: #313131;
    color: whitesmoke;
    min-width: 600px;
}


.app-content {
    margin: 20px;
}

.nav-content {
    margin-top: 50px;
    margin-bottom: auto;
    margin-right: 20px;
}

.active {
    border-bottom: yellow;
}

.nav-btn {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 110px;
}

.nav-btn:hover {
    font-weight: 700;
}

.header-content {
    margin: 20px;
}

.footer-content {
    margin: 20px;
    font-size: 12px;
}

.content-content {
    margin: 20px;
    min-width: 60%;
}
